h2, h3{
  display: flex;
  justify-content: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgba(0, 0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a.navigation:hover {
  background-color: #111;
}
.navigation{
  color: white;
}
.spain, .english {
  border: solid #111 1px;
  float: right;
}
.spain{
  background: url(../images/es.png) no-repeat;
  background-size: cover;  
}
.english{
  background: url(../images/en.jpg) no-repeat;
  background-size: cover;
}